<h1>Songs</h1>
<table>
  <tr>
    <th>Artist Name</th>
    <th>Song Title</th>
  </tr>
<%= @songs.each do |song| %>
  <tr>
    <td><%= link_to song.artist_name, artist_path(song.artist) %></td>
    <td><%= link_to song.title, artist_path(song.artist)%></td>
  </tr>
<% end %>
<table>
